:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #8b8b8b;
    --cor-de-fundo: #248ffa;
}

body {
    background-image: url(../takamassanomuro2-main/img/filmes.png);
    background-image: cover;
    background-repeat: no-repeat;
    background-color: var(--botao-azul);
}

*{ 
    margin: 0;
    padding: 0;
}

.logo img{
    width: 60%;
    height:50% ;

}

